
.faq-v2-area {
    .shape-01,
    .shape-02 {
        svg {
            path {
                fill: url(#paint0_linear-02);
            }
        }
    }
}

.faq-v2-wrapper {
    max-width: 690px;
    margin: 0 auto;
    .single-faq {
        &::before {
            background: var(--gradient-primary);
        }
        &.active {
            .faq-head {
                h6 {
                    i {
                        background: var(--gradient-primary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                    }
                }
            }
        }
    }
}