.landing-v2-speaker-area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  .section-title-v4 {
    h2,
    p {
      color: var(--white-txt);
    }
  }
  &::before {
    content: url("../img/speakers/ComputerHeadGuy.png");
    position: absolute;
    bottom: -7px;
    right: 5vw;
    z-index: 0;
    // transform: scale(0.8);
  }
}

.landing-v2-speaker-wrapper {
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 130px;
}

.landing-v2-speaker-thumb {
  position: relative;
  // max-width: 285px;
  // max-height: 330px;
  padding: 15px;
  margin: 0 auto;
  .thumb {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      transform: rotate(-180deg);
      background: var(--landing-v2-about-overlay);
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }
    img {
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
  }
  .shape-1,
  .shape-2,
  .shape-3 {
    position: absolute;
    z-index: -1;
  }
  .shape-1 {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img,
    svg {
      path {
        fill: var(--sky-blue-bg);
      }
      max-width: 100%;
      max-height: 100%;
      path {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.landing-v2-speaker-title {
  margin-top: 20px;
  text-align: center;
  h6 {
    font-family: "Montserrat";
    font-size: 1.5625rem; //25px;
    font-weight: 700;
    line-height: 1;
    color: var(--white-txt);
    margin-bottom: 5px;
    // transition: all 0.3s ease-in-out;
  }
  p {
    font-size: 0.875rem; //14px;
    color: var(--white-txt);
  }
}

// Responsive

// @media screen and (min-width: 1950px) {
//   .landing-v2-speaker-area {
//     &::before {
//       transform: scale(1);
//       right: 0;
//       bottom: -7px;
//     }
//   }
// }
// @media screen and (max-width: 1499px) {
//   .landing-v2-speaker-area {
//     &::before {
//       transform: scale(0.5);
//       right: -140px;
//       bottom: -120px;
//     }
//   }
// }
@media screen and (max-width: 991px) {
  .landing-v2-speaker-area {
    &::before {
      content: none;
    }
  }
  .landing-v2-speaker-wrapper {
    grid-gap: 6vw;
  }
}

@media screen and (max-width: 767px) {
  .landing-v2-speaker-wrapper {
    padding: 0px 20px;
  }
  .landing-v2-speaker-title {
    h6 {
      font-size: 1.125rem; //18px;
    }
  }
}
@media screen and (max-width: 575px) {
  .landing-v2-speaker-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 8vw;
  }
}
