.landing-v2-schedule-area {
  padding-top: 100px;
  min-height: 100vh;
  background-size: 100%;
  // background-position: center center;
  background-repeat: repeat-y;
  position: relative;
  .section-title-v4 {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  &::before {
    content: url("../img/agenda/Joystick.png");
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 5vw;
  }
}
.landing-v2-schedule-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  .tab-pane {
    max-width: 950px;
    margin: 0 auto;

    h3 {
      text-align: center;
      color: var(--sky-blue-txt);
      font-size: 2.5rem;
      margin-bottom: 1.25em;
    }
  }
  &:before {
    content: url("../img/speakers/EricssonMobile.png");
    position: absolute;
    bottom: -8px;
    right: 10vw;
    z-index: 0;
  }
  &:after {
    content: url("../img/speakers/Heart-message.png");
    position: absolute;
    bottom: 385px;
    right: 120px;
    z-index: 0;
  }
}

.l-v2-sdule-cntnt-wrapper {
  position: relative;
}

.l-v2-sdule-cntnt-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  position: relative;

  .line {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% + 90px);
    // height: 200%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    background-color: var(--sky-blue-txt);
    margin: 0;
  }
  .dot-cercle {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: var(--sky-blue-txt);
    border-radius: 50%;
    // left: calc(-145px - 7px);
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(0, 193, 201, 0.5);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:first-child {
    .line {
      top: 15px;
    }
    // margin-bottom: 0;
  }
  &:last-child {
    .line {
      height: 100%;
    }
    margin-bottom: 100px;
  }
}

.l-v2-sdule-content {
  display: flex;
  width: calc(55% - 70px);
  padding-right: 3rem;
  .content {
    flex: 1;
    .date-time {
      span {
        font-family: "Baloo Da 2";
        font-size: 1.25rem;
        font-weight: 500;
        // color: #fdd55e;
        // margin-right: 20px;
        // display: inline-block;
      }
    }
    h4 ~ p {
      font-family: "Baloo Da 2";
      font-size: 1.25rem;
      font-weight: 500;
    }
    h4 {
      font-size: 2.5rem; //40px;
      font-weight: 600;
    }
    &-bio {
      margin-top: 1rem;
      p {
        // font-weight: 500;
        margin-bottom: 0.5em;
      }
    }
  }
}

.l-v2-sdule-title {
  width: calc(55% - 70px);
  padding-left: 3rem;
  h4 {
    font-size: 2.5rem; //40px;
    max-width: 16ch;
  }
  p {
    font-size: 1rem;
    max-width: 45ch;
  }
  ul {
    margin-top: 15px;
    li {
      color: var(--white-txt);
      display: flex;
      align-items: center;
      i {
        color: var(--sky-blue-txt);
        margin-right: 5px;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1760px) {
  .landing-v2-schedule-area {
    &::before {
      transform: scale(0.9);
      top: -30px;
    }
  }
}
@media screen and (max-width: 1630px) {
  .landing-v2-schedule-area {
    &::before {
      left: 3vw;
    }
  }
}
@media screen and (max-width: 1350px) {
  .landing-v2-schedule-area {
    &::before {
      transform: scale(0.8);
      top: -35px;
      left: -1vw;
    }
  }
}
@media screen and (max-width: 1199px) {
  .landing-v2-schedule-area {
    &::before {
      content: none;
    }
    .section-title-v4 {
      max-width: 750px;
    }
  }
  .landing-v2-schedule-wrapper {
    .tab-pane {
      max-width: 750px;
      h3 {
        font-size: 2rem;
      }
    }
  }
  .l-v2-sdule-content .content h4,
  .l-v2-sdule-title h4 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 991px) {
  .landing-v2-schedule-wrapper {
    .tab-pane {
      h3 {
        font-size: 1.75rem;
      }
    }
  }
  .l-v2-sdule-cntnt-wrap {
    &,
    &:last-child {
      flex-direction: column;
      text-align: center;
      // z-index: 10;
      padding-top: 70px;
      margin-bottom: 30px;
      .line {
        height: 90px;
        top: -20px;
      }
    }
    &:first-child {
      padding-top: 90px;
      .line {
        height: 70px;
      }
    }
  }
  .l-v2-sdule-content {
    width: 100%;
    margin-bottom: 1em;
    padding-right: 0;
  }
  .l-v2-sdule-title {
    padding-left: 0;
    width: 100%;

    h4 {
      max-width: none;
      margin-bottom: 0.5em;
      font-size: 1.5rem;
    }
    p {
      margin: 0 auto;
      max-width: 90%;
      font-size: 0.875rem; //14px
    }
  }
}
@media screen and (max-width: 767px) {
  .landing-v2-schedule-area .section-title-v4 {
    margin: 0 5vw 30px;
  }
  .l-v2-sdule-cntnt-wrapper {
    min-height: unset;
  }
  .l-v2-sdule-content {
    .content {
      &-bio {
        p {
          margin: 0 auto;
          max-width: 90%;
          font-size: 0.875rem; //14px
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .l-v2-sdule-content .content h4,
  .l-v2-sdule-title h4 {
    font-size: 1.5rem;
  }
  .l-v2-sdule-cntnt-wrapper {
    padding: 0 5vw;
  }
  .l-v2-sdule-cntnt-wrap {
    .dot-cercle {
      width: 20px;
      height: 20px;
      top: 25px;
      &::before {
        width: 40px;
        height: 40px;
      }
    }
    &,
    &:last-child {
      .line {
        height: 80px;
        top: -15px;
      }
    }
    &:first-child {
      .line {
        height: 50px;
        top: 25px;
      }
    }
  }
  .l-v2-sdule-content .content h4 ~ p {
    font-size: 1.15rem;
  }
  .l-v2-sdule-title {
    h4 {
      margin-bottom: 0.25em;
    }
  }
}
