.primary-footer-area {
  color: var(--white-txt);
  background-color: var(--body-clr-txt);
  h4,
  a {
    color: inherit;
  }
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  // flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  .logo {
    a {
      font-family: "Baloo Da 2";
      font-size: 2.3125rem; //37px
      line-height: 1;
      color: var(--white-txt);
      span {
        font-weight: normal;
        color: var(--sky-blue-txt);
      }
      .bold {
        font-weight: 700;
        color: var(--white-txt);
      }
    }
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-top: 0.5em;
  }
  h2,
  p {
    color: var(--white-txt);
    margin-top: 10px;
  }
  p {
    font-family: "Baloo Da 2";
    font-size: 1.25rem;
  }
  .organizer {
    margin-top: auto;
    padding-top: 2em;
    color: var(--white-txt);
    span {
      display: inline-block;
      font-family: "Baloo Da 2";
      margin-bottom: 5px;
    }
    a img {
      display: block;
      max-width: 210px;
    }
  }
}
.footer-venue {
  text-align: center;
  p:first-child {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 0.5em;
  }
}
.footer-contacts {
  // display: flex;
  color: var(--white-txt);
  font-size: 1.25rem; //20px;
  font-family: "Baloo Da 2";

  .addresses {
    margin-top: 1.25em;
  }
}
.footer-list {
  margin-bottom: 1.25em;
  li {
    // margin-bottom: 5px;
    &:first-child {
      // margin-bottom: 5px;
      font-weight: 600;
    }
    a {
      display: inline-flex;
      align-items: center;
      color: var(--white-txt);
      font-size: 1rem;
      line-height: 1;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: var(--sky-blue-txt);
      }
    }
  }
}
.social-icon-link {
  &::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
  }
  &.github {
    &::after {
      content: url("../img/footer/social-media-icons/icon-github.svg");
    }
  }
  &.linkedin {
    &::after {
      content: url("../img/footer/social-media-icons/icon-linkedin.svg");
    }
  }
  &.facebook {
    &::after {
      content: url("../img/footer/social-media-icons/icon-facebook.svg");
    }
  }
  &.twitter {
    &::after {
      content: url("../img/footer/social-media-icons/icon-twitter.svg");
    }
  }
  &.youtube {
    &::after {
      content: url("../img/footer/social-media-icons/icon-youtube.svg");
    }
  }
  &.instagram {
    &::after {
      content: url("../img/footer/social-media-icons/icon-instagram.svg");
    }
  }
  &.reddit {
    &::after {
      content: url("../img/footer/social-media-icons/icon-reddit.svg");
    }
  }
}
.footer-social {
  margin-top: 2em;
  // flex: 0 0 25%;
  h4 {
    margin-bottom: 10px;
    // text-align: right;
  }
  ul {
    display: flex;
    // justify-content: space-between;
    li {
      display: inline-block;
      margin-right: 1em;
      a {
        display: block;
        width: 34px;
        height: 34px;
        border: 1px solid var(--sky-blue-txt);
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        position: relative;
        &:hover,
        &:focus {
          outline: none;
          border-color: transparent;
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1199px) {
  .footer-social ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  .footer-wrapper {
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
  }
  .footer-venue {
    text-align: left;
    margin-bottom: 2em;
  }
  .footer-logo {
    margin-bottom: 2em;
    .organizer {
      margin-top: 1em;
      padding-top: 0;
    }
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .footer-contacts {
    order: 2;
  }
  .footer-social {
    margin-bottom: 1em;
    p {
      text-align: left;
    }
    ul {
      justify-content: flex-start;
      // max-width: 75%;
      li {
        margin-left: 0;
        margin-right: 1.25em;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .footer-wrapper {
    // max-width: 400px;
  }
  .footer-logo {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }

  .footer-social {
    ul {
      max-width: none;
    }
  }
  .footer-contacts {
    font-size: 1rem;
    h4 {
      font-size: 1.25rem;
    }
    .addresses {
      margin-top: 1.25em;
    }
  }
  // Copy Right
  // .copyright {
  //   p {
  //     font-size: 15px;
  //     line-height: 1;
  //   }
  // }
}
