<div class="main-menu ">
    <ul>
        <li><a href="#about-section">About</a></li>
        <li><a href="#speakers-section">Speakers</a></li>
        <li><a href="#agenda-section">Agenda</a></li>
        <li><a href="#faq-section">FAQ</a></li>
        <li><a href="#contact-section">Contact</a></li>
    </ul>
</div>