@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Baloo Da 2";
  src: url("../fonts/Baloo_Da_2/BalooDa2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Baloo Da 2";
  src: url("../fonts/Baloo_Da_2/BalooDa2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Baloo Da 2";
  src: url("../fonts/Baloo_Da_2/BalooDa2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Baloo Da 2";
  src: url("../fonts/Baloo_Da_2/BalooDa2-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*-------------------------------------------------------------------*/
//1.main-style abstract file css call here
//------------------------------
@import "components/abstracts/variable";
@import "components/abstracts/mixin";
@import "components/abstracts/common";
@import "components/base_components/button";
@import "components/base_components/typography";
@import "components/base_components/header-general";
@import "components/base_components/main-menu";

//3 all section css call here
// --------------------------
@import "main-style/section-title-v4";
@import "main-style/why-chose-v2";
@import "main-style/landing-v2-hero";
@import "main-style/hero-countdown-clock";
@import "main-style/landing-page-v1-about";
@import "main-style/landing-v2-about";
@import "main-style/landing-v2-schedule";
@import "main-style/landing-v2-speaker";
@import "main-style/landing-v2-sponsor";
@import "main-style/faq-v1";
@import "main-style/faq-v2";
@import "main-style/footer/primary-footer";
@import "main-style/footer/secondary-footer";
@import "main-style/footer/footer-with-shape";
@import "main-style/footer/footer-with-bg";

body {
  overflow-x: hidden;
}
