
.header-primary {
    .header-shape {
        .shape-01 {
            svg {
                path {
                    fill:url(#paint0_linear-02);
                }
            }
        }
        
    }
    .main-menu {
        border-image: linear-gradient(45deg, #FF175C, #223FDC) 10;
        ul {
            li {
                &:hover {
                    >a {
                        background: var(--gradient-primary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        i {
                            background: var(--gradient-primary);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
                a {
                    &::before {
                        background: var(--gradient-primary);
                    }
                }
                .sub-menu {
                    li {
                        a {
                            &::before {
                                background: var(--gradient-primary);
                            }
                        }
                    }
                }
            }
        }
    }
    .mega-menu {
        .single-menu {
            .menu {
                ul {
                    li {
                        a:hover {
                            background: var(--gradient-primary);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            transform: translateX(5px);
                        } 
                    }
                }
            }
        }
    }
    .header-account {
        .register {
            background: var(--gradient-primary-btn);
            background-size: 200%;
            &:hover {
                background-position: right;
            }
        }
    }
    // Search Page
    .search-popup-title {
        span {
            background: var(--gradient-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .search-popup-input {
        button {
            background: var(--gradient-primary-btn);
            background-size: 200%;
            &:hover {
                background-position: right;
            }
        }
    }
    .search-popup-list {
        ul {
            &::-webkit-scrollbar-thumb {
                background: var(--gradient-primary-btn);
            }
            li {
                &:hover {
                    span {
                        background: var(--gradient-primary-btn);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    a {
                        text-decoration-color: var(--primary-bdr);
                    }
                }
            }
        }
    }
    .search-popup-close {
        &::before {
            background: var(--gradient-primary);
        }
    }
}

// Reponsive 
@media screen and (max-width: 991px) {
    .header-primary {
        .main-menu {
            ul {
                li {
                    .sub-menu {
                        li {
                            a {
                                &:hover {
                                    background: var(--gradient-primary);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mega-menu {
            .single-menu {
                .title {
                    &.active {
                        h6 {
                            i {
                                background: var(--gradient-primary-btn);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .header-primary {
        .header-account {
            .login {
                background: var(--gradient-primary-btn);
                background-size: 200%;
                &:hover {
                    background-position: right;
                }
            }
        }
    }
}
