
.landing-page-v1-about-wrapper {
    display: flex;
    align-items: center;

}

.landing-page-v1-about-thumb {
    width: 50%;
    display: flex;
    align-items: flex-end;
    margin-right: 70px;
    margin-bottom: 125px;
    .image-02 {
        margin-left: -225px;
        margin-bottom: -125px;
        position: relative;
        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .shape-01 {
        position: absolute;
        bottom: 30px;
        left: -90px;
        z-index: 99;
        max-width: 75px;
        width: 100%;
    }
}
.landing-page-v1-about-content {
    flex: 1;
    h4 {
        font-size: 36px;
        line-height: 1.4;
        font-weight: 700;
    }
    p {
        font-size: 16px;
        line-height: 1.4;
        color: var(--body-clr-txt);
        margin-top: 30px;
        max-width: 670px;
    }
    ul {
        margin-top: 20px;
        li {
            font-size: 16px;
            font-weight: 500;
            color: var(--font-clr-txt);
            margin-bottom: 10px;
            line-height: 1.4;
            &:last-child {
                margin-bottom: 0;
            }
            i {
                background: var(--gradient-secondary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-right: 5px;
            }
        }
    }
    .date {
        margin-top: 100px;
        position: relative;
        span {
            font-size: 18px;
            line-height: 1;
            color: var(--font-clr-txt);
        }
        h4 {
            font-size: 30px;
            line-height: 1;
            font-weight: 900;
            margin-top: 12px;
        }
        .shape {
            position: absolute;
            max-width: 130px;
            width: 100%;
            top: -70px;
            left: -130px;
        }
    }
}

// Responsive 
@media screen and (max-width: 991px) {
    .landing-page-v1-about-thumb {
        margin-right: 30px;
        margin-bottom: 95px;
    }
    .landing-page-v1-about-content {
        h4 {
            font-size: 30px;
        }
        p {
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 767px) {
    .landing-page-v1-about-wrapper {
        flex-direction: column;
    }
    .landing-page-v1-about-thumb {
        width: 100%;
        margin-right: 0;
        max-width: 550px;
        margin-bottom: 160px;
    }
    .landing-page-v1-about-content {
        max-width: 550px ;
        p {
            margin-top: 10px;
        }
        .date {
            margin-top: 30px;
            .shape {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .landing-page-v1-about-thumb {
        margin-bottom: 150px;
    }
    .landing-page-v1-about-content {
        h4 {
            font-size: 24px;
        }
        ul {
            margin-top: 15px;
        }
        .date {
            span {
                font-size: 16px;
            }
            h4 {
                font-size: 24px;
                margin-top: 5px;
            }
        }
    }
    
}