
.section-title {
    max-width: 720px;
    margin: 0 auto 50px;
    text-align: center;
    h3 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1;
    }
    p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .line {
        justify-content: center;
    }
}

.white-section-title {
    h3 {
        color: var(--white-txt);
    }
    p {
        color: var(--white-txt);
    }
    .line {
        span {
            background: var(--white-bg);
        }
    }
}

// Responsive 
@media screen and (max-width: 767px) {
    .section-title {
        max-width: 500px;
    }
}
@media screen and (max-width: 575px) {
    .section-title {
        margin-bottom: 40px;
        h3 {
            font-size: 26px;
            margin-bottom: 10px;
        }
    }
}