
<footer class="footer-shape-area py-70 py-md-40 {{class}}" id="contact-section">
    <div class="footer-bg">
        {# <div class="shape-1">
            <img src="assets/img/footer/footer-with-shape-bg.png" alt="shape">
        </div>
        <div class="shape-2">
            <img class="left-right" src="assets/img/footer/footer-with-bg-bg.jpg" alt="shape">
        </div> #}
    </div>
    <div class="container">
        <div class="footer-shape-wrapper">
            <div class="footer-shape-top">
                <div class="footer-contact">
                    <h4 class="footer-title">Emergency Contact</h4>
                    <a href="#"><i class="icofont-ui-message"></i>evenzoinfo@gmail.com</a>
                    <a href="#"><i class="icofont-phone"></i>+123 - (456 7890)</a>
                </div>

                <div class="footer-logo">
                    <div class="logo">
                         <img src="assets/img/logo/footer-logo.svg" alt="logo">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae.</p>
                </div>

                <div class="footer-link">
                    <h4 class="footer-title">Important Link</h4>
                    <ul class="footer-list">
                        <li><a href="#"><i class="icofont-long-arrow-right"></i>FAQ</a></li>
                        <li><a href="#"><i class="icofont-long-arrow-right"></i>Privecy</a></li>
                        <li><a href="#"><i class="icofont-long-arrow-right"></i>Terms & Condition</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-shape-bottom">
                <div class="menu">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Speakers</a></li>
                        <li><a href="#">Schedule</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <span>Follow Us</span>
                       <ul>
                           <li><a href="#"><i class="icofont-facebook"></i></a></li>
                           <li><a href="#"><i class="icofont-twitter"></i></a></li>
                           <li><a href="#"><i class="icofont-instagram"></i></a></li>
                           <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                       </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copy Right Start Here -->
<div class="footer-shape-copyright">
    <p>Copyright &copy; 2021 Evenxo All Rights Reserved.</p>
</div>
<!-- Copy Right End Here -->