<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>purecode - Functional Programming Talks</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/plugin.css">
    <link rel="stylesheet" href="assets/css/style.css">

    
    <meta
      name="description"
      content="The Functional Programming Community's premier meetup for Haskell, Elixir and Erlang developers and enthusiasts. Join us on 23 March 2023, Sofia, Bulgaria."
    />
    <!-- OPENGRAPH/FACEBOOK META DATA -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://purecode.tech/" />
    <meta
      name="og:title"
      property="og:title"
      content="purecode - Functional Programming Talks"
      key="title"
    ></meta>
    <meta
      name="og:description"
      property="og:description"
      content="The Functional Programming Community's premier meetup for Haskell, Elixir and Erlang developers and enthusiasts. Join us on 23 March 2023, Sofia, Bulgaria."
      key="description"
    ></meta>
    <meta
      property="og:image"
      content="https://static.blackseachain.com/images/BSC_OGImage.png"
    />
    <!-- TWITTER META DATA -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://purecode.tech/" />
    <meta
      name="twitter:title"
      content="purecode - Functional Programming Talks"
    />
    <meta
      name="twitter:description"
      content="The Functional Programming Community's premier meetup for Haskell, Elixir and Erlang developers and enthusiasts. Join us on 23 March 2023, Sofia, Bulgaria."
    />
    <meta
      name="twitter:image"
      content="https://static.blackseachain.com/images/BSC_OGImage.png"
    />
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D1LXDH1PM1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D1LXDH1PM1');
</script>

    <!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '3407065', 'a8s6b7d5u1', 'load');
</script>
<!-- End MailerLite Universal -->

</head>
<body>
<!-- preloader -->
{# <div class="loader-wrapper">
  <div class="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div> #}
  
