<!-- Footer Area Start Here -->
<footer class="primary-footer-area py-70 py-md-40 bg-dark {{class}}">
    <div class="container">
        <div class="footer-wrapper">
           <div class="footer-logo">
               <div class="logo">
                    <img src="assets/img/logo/footer-logo.svg" alt="logo">
               </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae. </p>
               <div class="footer-social">
                <span>Follow Us</span>
                   <ul>
                       <li><a href="#"><i class="icofont-facebook"></i></a></li>
                       <li><a href="#"><i class="icofont-twitter"></i></a></li>
                       <li><a href="#"><i class="icofont-instagram"></i></a></li>
                       <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                   </ul>
               </div>
           </div>
           <div class="footer-sitemap">
               <h4 class="footer-title">Sitemap</h4>
               <div class="menu">
                   <div class="single-menu">
                       <ul class="footer-list">
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>About</a></li>
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Gallery</a></li>
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Schedule</a></li>
                       </ul>
                   </div>
                   <div class="single-menu">
                       <ul class="footer-list">
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Events</a></li>
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Speaker</a></li>
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Pricing Table</a></li>
                       </ul>
                   </div>
                   <div class="single-menu">
                       <ul class="footer-list">
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Sponsor</a></li>
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>News</a></li>
                           <li><a href="#"><i class="icofont-long-arrow-right"></i>Ccontact</a></li>
                       </ul>
                   </div>
               </div>
           </div>
           <div class="footer-items">
            <div class="footer-contact">
                <h4 class="footer-title">Emergency Contact</h4>
                <a href="#"><i class="icofont-ui-message"></i>evenzoinfo@gmail.com</a>
                <a href="#"><i class="icofont-phone"></i>+123 - (456 7890)</a>
                <div class="location">
                    <h4 class="footer-title">Location</h4>
                    <a href="#">See Google Map <i class="icofont-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="footer-link">
                <h4 class="footer-title">Important Link</h4>
                <ul class="footer-list">
                    <li><a href="#"><i class="icofont-long-arrow-right"></i>FAQ</a></li>
                    <li><a href="#"><i class="icofont-long-arrow-right"></i>Privecy</a></li>
                    <li><a href="#"><i class="icofont-long-arrow-right"></i>Terms & Condition</a></li>
                </ul>
            </div>
           </div>
        </div>
    </div>
</footer>
<!-- Footer Area End Here -->

<!-- Copy Right Start Here -->
<div class="copyright">
    <p>Copyright &copy; 2021 Evenxo All Rights Reserved.</p>
</div>
<!-- Copy Right End Here -->