<!-- Footer Area Start Here -->
<footer class="primary-footer-area py-70 py-md-40 bg-dark" id="contact-section">
    <div class="container">
        <div class="footer-wrapper">
           <section class="footer-logo">
               <div class="logo">
                    <a href="/">
                        <span>pure</span>:#<span class="bold">code</span>
                    </a>
               </div>
               <h2>Functional Programming Talks</h2>
               <h4>23 March 2023, Sopharma Event Center</h4>
               <p>5 Lachezar Stanchev, Sofia, Bulgaria</p>
               
           </section>
           <section class="footer-contacts">
               <div class="menu">
                    <h4 class="footer-title">Contacts</h4>
                    <ul class="footer-list">
                        <li><a href="#">+359 879 411 007</a></li>
                        <li><a href="#">info@quanterall.com</a></li>
                    </ul>
               </div>
                <div class="addresses">
                    <ul class="footer-list">
                        <li>Office Varna:</li>
                        <li>Varna, 9000</li>
                        <li>15 Ruse Street, floor 1</li>
                    </ul>
                    <ul class="footer-list">
                        <li>Office Sofia:</li>
                        <li>Sofia, 1784</li>
                        <li>111 Tsarigradsko Shose Blvd,</li>
                        <li>Sofia Tech Park, Labs building, floor 1</li>
                    </ul>
                </div>
                
           </section>
           <section class="footer-items">
                <div class="footer-social">
                    <span>Follow Us</span>
                   <ul>
                       <li><a href="#"><i class="icofont-github"></i></a></li>
                       <li><a href="#"><i class="icofont-twitter"></i></a></li>
                       <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                       <li><a href="#"><i class="icofont-facebook"></i></a></li>
                       <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                       <li><a href="#"><i class="icofont-instagram"></i></a></li>
                       <li><a href="#"><i class="icofont-reddit"></i></a></li>
                   </ul>
               </div>
           </section>
        </div>
    </div>
</footer>
<!-- Footer Area End Here -->

<!-- Copy Right Start Here -->
<div class="copyright">
    <p>Copyright &copy; 2022 purecode All Rights Reserved.</p>
</div>
<!-- Copy Right End Here -->