<!-- Footer Area Start Here -->
<footer class="primary-footer-area py-100 py-md-40" id="contact-section">
    <div class="container">
        <div class="footer-wrapper">
           <section class="footer-logo">
               <div class="logo">
                    <a href="/">
                        <span>pure</span>:#<span class="bold">code</span>
                    </a>
               </div>
               <h2>Functional <br> Programming <br> Talks</h2>
               <p>23 March 2023 <br> Sopharma Event Center <br>5 Lachezar Stanchev, Sofia, Bulgaria</p>
               
               <div class="organizer">
                <span>organised by</span> 
                <a href="https://www.quanterall.com/" target="_blank">
                    <img src="assets/img/logo/Quanterall-logo.png" alt="Quanterall's logo" />
                </a>
               </div>
           </section>
           <section class="footer-contacts">
            <h4 class="footer-title">Contacts</h4>
            <a href="mailto:media@quanterall.com">media@quanterall.com</a>
            <div class="addresses">
                <ul class="footer-list">
                    <li>Office Varna:</li>
                    <li>Varna, 9000</li>
                    <li>15 Ruse Street, floor 1</li>
                </ul>
                <ul class="footer-list">
                    <li>Office Sofia:</li>
                    <li>Sofia, 1784</li>
                    <li>111 Tsarigradsko Shose Blvd,</li>
                    <li>Sofia Tech Park, Labs building, floor 1</li>
                </ul>
            </div>
                
           </section>
           <section class="footer-social">
                <p>Follow us</p>
                <ul>
                    <li><a href="https://github.com/quanterall" class="social-icon-link github" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://twitter.com/quanterall" class="social-icon-link twitter" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/quanterall" class="social-icon-link linkedin" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://www.facebook.com/quanterall/" class="social-icon-link facebook" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://www.youtube.com/c/Quanterall" class="social-icon-link youtube" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://www.instagram.com/quanterall/" class="social-icon-link instagram" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://www.reddit.com/r/Quanterall/" class="social-icon-link reddit" target="_blank">
                        </a>
                    </li>
                </ul>
           </section>
        </div>
    </div>
</footer>
<!-- Footer Area End Here -->

<!-- Copy Right Start Here -->
{# <div class="copyright">
    <p>Copyright &copy; 2023 purecode All Rights Reserved.</p>
</div> #}
<!-- Copy Right End Here -->