<footer class="primary-footer-area py-100 py-md-40" id="contact-section">
    <div class="container">
        <div class="footer-wrapper">
           <section class="footer-logo">
               <div class="logo">
                    <a href="/">
                        <span>pure</span>:#<span class="bold">code</span>
                    </a>
               </div>
               <h2>Functional Programming Talks</h2>
               
                <section class="footer-venue">
                    <p>23 March 2023</p>
                    <p> Sopharma Event Center</p>
                    <p>5 Lachezar Stanchev, Sofia, Bulgaria</p> 
                </section>
               <div class="organizer">
                <span>organised by</span> 
                <a href="https://www.quanterall.com/" target="_blank">
                    <img src="assets/img/logo/Quanterall-logo.png" alt="Quanterall's logo" />
                </a>
               </div>
           </section>

           
           <section class="footer-contacts">
                <section class="footer-social">
                    <h4>Follow us</h4>
                    <ul>
                        <li><a href="https://github.com/quanterall" class="social-icon-link github" target="_blank">
                            </a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/quanterall" class="social-icon-link linkedin" target="_blank">
                            </a>
                        </li>
                        <li><a href="https://www.facebook.com/quanterall/" class="social-icon-link facebook" target="_blank">
                            </a>
                        </li>

                    </ul>
                    <ul>
                        <li><a href="https://twitter.com/quanterall" class="social-icon-link twitter" target="_blank">
                            </a>
                        </li>
                        <li><a href="https://www.youtube.com/c/Quanterall" class="social-icon-link youtube" target="_blank">
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/quanterall/" class="social-icon-link instagram" target="_blank">
                            </a>
                        </li>
                        {# <li><a href="https://www.reddit.com/r/Quanterall/" class="social-icon-link reddit" target="_blank">
                            </a>
                        </li> #}
                    </ul>
                </section>
                <h4 class="footer-title">Contact us</h4>
                <a href="mailto:media@quanterall.com">media@quanterall.com</a>   
                <div class="copyright">
                    <p>© 2023 purecode</p>
                </div>            
           </section>
           
        </div>
    </div>
</footer>