// .dropdown {
//     position: relative;
// }
.main-menu {
  margin-right: 15%;
  ul {
    li {
      display: inline-block;
      margin-left: 4em;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        > a {
          color: var(--sky-blue-bg);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // &::before {
          //   left: 0;
          //   right: auto;
          //   width: 100%;
          // }
        }
      }
      a {
        font-family: "Baloo Da 2";
        display: flex;
        align-items: center;
        padding: 2.5em 0px;
        line-height: 1;
        font-size: 1.375rem; //22px;
        font-weight: 400;
        color: var(--font-clr-txt);
        position: relative;
        transition: var(--ease-in-out);
        transition: all 0.25s ease-in-out;
        &::before {
          position: absolute;
          content: "";
          width: 0%;
          height: 1px;
          background: var(--radical-red-bdr);
          bottom: 0;
          right: 0;
          transition: var(--ease-in-out);
        }
        i {
          margin-left: 5px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

// Hamburger Icon
.hamburger {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  display: none;
  svg {
    max-height: 60px;
    position: absolute;
    max-width: 60px;
    // background: var(--gradient-secondary);
    // border-radius: 5px;
  }
  .burger {
    filter: url(#gooeyness);
  }
  .x {
    transform: scale(0);
    transition: transform 400ms;
  }
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 4.2px;
    stroke-linecap: square;
    stroke-linejoin: round;
    transform-origin: 0;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
      transform 500ms 200ms;
  }
  .x .line {
    stroke-width: 5px;
  }
  .plate5 {
    .line {
      transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms,
        transform 400ms 100ms;
    }
    .line1 {
      stroke-dasharray: 40 40;
    }
    .line2 {
      stroke-dasharray: 21 39;
    }
    .line3 {
      stroke-dasharray: 21 39;
    }
    .line4 {
      stroke-dasharray: 40 40;
    }
    .x {
      transition: transform 400ms 50ms;
    }
  }
  .active.plate5 {
    .line {
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms,
        transform 400ms;
    }
    .line1 {
      stroke-dasharray: 1 40;
      stroke-dashoffset: -33px;
    }
    .line2 {
      stroke-dasharray: 5 39;
      stroke-dashoffset: -37px;
    }
    .line3 {
      stroke-dasharray: 5 39;
      stroke-dashoffset: -37px;
    }
    .line4 {
      stroke-dasharray: 1 40;
      stroke-dashoffset: -33px;
    }
    .x {
      transition: transform 400ms 50ms;
      transform: scale(1);
    }
  }
}

// Responsive
@media screen and (max-width: 1440px) {
  .main-menu {
    margin-right: 10%;
    ul {
      li {
        display: inline-block;
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .hamburger {
    display: block;
  }
  .main-menu {
    position: absolute;
    width: 100%;
    left: 0;
    background: var(--white-bg);
    right: 0;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-top-style: solid;
    border-image: linear-gradient(45deg, #00c1c9, #245359) 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 99999;
    transition: all 0.4s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
      // clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
    }
    ul {
      li {
        a {
          padding: 25px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .main-menu {
    // height: calc(100vh - 90px);
    overflow-y: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0;

    ul {
      width: 100%;
      li {
        display: block;
        margin-left: 0;
        a {
          padding: 15px 20px;
          display: block;
          color: var(--font-clr-txt);
          border-bottom: 1px solid var(--gainsboro-bdr);
          display: flex;
          justify-content: space-between;
          &::before {
            display: none;
          }
        }
        &:hover {
          > a {
            i {
              background: unset;
              -webkit-background-clip: unset;
              -webkit-text-fill-color: unset;
            }
          }
          .sub-menu,
          .mega-menu {
            clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
          }
        }
        &.active {
          > a {
            i {
              background: var(--gradient-secondary);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transform: rotate(-180deg);
            }
          }
          .sub-menu {
            height: 100%;
            clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
            opacity: 1;
            visibility: visible;
          }
          .mega-menu {
            height: 100%;
            opacity: 1;
            visibility: visible;
            clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
            display: block;
          }
        }
        .sub-menu {
          position: unset;
          height: 0;
          transition: all 0s ease-in-out;
          box-shadow: none;
          visibility: hidden;
          clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
          li {
            border-bottom: none;
            a {
              padding: 15px 30px;
              &:hover {
                color: unset;
                background: var(--gradient-secondary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  .mega-menu {
    position: unset;
    padding: 0px 40px;
    flex-direction: column;
    box-shadow: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none;
    clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
    .single-menu {
      .title {
        padding: 15px 0px;
        margin-bottom: 0;
        border-bottom: 1px solid var(--gainsboro-bdr);
        h6 {
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: space-between;
          i {
            display: block;
          }
        }
        &.active {
          h6 {
            i {
              background: var(--gradient-secondary);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transform: rotate(-180deg);
            }
          }
        }
      }
      .menu {
        display: none;
        &.active {
          display: block;
        }
        ul {
          &::before {
            display: none;
          }
          li {
            a {
              padding-left: 10px;
              &:hover {
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-menu {
    // height: calc(100vh - 70px);
    ul {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

// Device 575
@media screen and (max-width: 575px) {
  .main-menu {
    ul {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .mega-menu {
    .single-menu {
      .title {
        h6 {
          font-size: 16px;
        }
      }
    }
  }
}
