<section class="landing-v2-about-area s-py-100" id="about-section">
    <div class="container">
        <div class="section-title-v4">
            <h2>ABOUT purecode</h2>
            <p>Welcome, devs! Let's gather together and share knowledge and expertise on <strong>functional programming</strong>!</p>
        </div>
        <div class="why-chose-v2-wrapper">
            <section class="why-chose-v2-thumb">
                <div class="thumb-01" data-aos="fade-down">
                    <img class="left-right" src="assets/img/About-image.png" alt="a man with computer as head floating in space">
                </div>
            </section>
            <section class="why-chose-v2-content">
                <ul>
                    <li class="mb-40" data-aos="fade-up" data-aos-delay="40">
                        <h3>What is it about?</h3>
                        <p>How can functions help us solve common problems? 
                            The principles of <strong>functional programming</strong> philosophy as a rescue service for complex computable problems. 
                         </p>   
                        <p>Let's explore more about:</p>
                        <div class="language-logos">
                            <img src="assets/img/Elixir-logo.png" />
                            <img src="assets/img/Erlang-logo.png" />
                            <img src="assets/img/Haskell-logo.png" />
                            <img src="assets/img/Kotlin-logo.png" />
                            <img src="assets/img/Rust-logo.png" />
                        </div>
                        
                         {# <strong>Elixir</strong>, <strong>Erlang</strong>, <strong>Haskell</strong>, <strong>Kotlin</strong> 
                        and <strong>Rust</strong>. #}
                    </li>
                    <li class="mb-30" data-aos="fade-up" data-aos-delay="80">
                        <h3>Who is it for?</h3>
                        <p>Everyone interested in <strong>functional programming</strong> 
                        practical aspects and willing to learn more. If you use <strong>Elixir</strong>, <strong>Erlang</strong>, <strong>Haskell</strong>, 
                        <strong>Kotlin</strong>, <strong>Rust</strong> or other <strong>functional programming</strong> languages, and would like to share more 
                        with your peers, you are welcome to join us.</p>
                    </li>
                    <li class="mb-30" data-aos="fade-up" data-aos-delay="120">
                        <h3>Why do we do it?</h3>
                        <p>We believe in code as we believe in humans and we want to build better code that provides for a better humanity. If you like to talk with peers about your code, you're welcome to join us and network over beer and bites.</p>
                    </li>
                </ul>
                <div class="button-group" data-aos="fade-up" data-aos-delay="160">
                    <p>This event is FREE but places are limited.</p>
                    <a class="btn btn-bg-g-secondary" href="https://purecode.eventbrite.com" target="_blank">RESERVE YOUR SPOT</a>
                </div>
            </section>
        </div>
    </div>
</section>
