<section class="landing-v2-about-area s-py-100" id="about-section">
    <div class="container">
        <div class="section-title-v4">
            <h2>ABOUT purecode</h2>
            <p>Welcome, devs! Let's gather together and share knowledge and expertise on functional programming!</p>
        </div>
        <div class="why-chose-v2-wrapper">
            <div class="why-chose-v2-content">
                {# <h6 data-aos="fade-up">Best Event Planner of the year, 2021</h6>
                <h2 data-aos="fade-up" data-aos-delay="20">Why you Choose <span>Evenxo</span></h2> #}
                <ul>
                    <li>
                    <h3 data-aos="fade-up" data-aos-delay="40">What is it about?</h3>
                    <p class="mb-30" data-aos="fade-up" data-aos-delay="40">How can functions help us solve common problems? The principles of functional programming philosophy as a rescue service for complex computable problems.</p>
                    </li>
                    <li>
                    <h3 data-aos="fade-up" data-aos-delay="45">Who is it for?</h3>
                    <p class="mb-30" data-aos="fade-up" data-aos-delay="45">Everyone interested in functional programming practical aspects and willing to learn more. If you use Elixir, Erlang and Haskell or other functional programming languages, and would like to share more with your peers, you are welcome to join us.</p>
                    </li>
                    <li>
                    <h3 data-aos="fade-up" data-aos-delay="50">Why do we do it?</h3>
                    <p class="mb-30" data-aos="fade-up" data-aos-delay="50">We believe in code as we believe in humans and we want to build better code that provides for a better humanity. If you like to talk with peers about your code, you're welcome to join us and network over beer and bites.</p>
                    </li>
                </ul>
                <div class="button-group" data-aos="fade-up" data-aos-delay="80">
                    <p>This event is FREE but places are limited. Secure your spot now!</p>
                    {# <img src="assets/img/thumb/about-v2/sign.png" alt="sign"> #}
                    <a class="btn btn-bg-g-secondary" href="#">RESERVE YOUR SPOT</a>
                </div>
            </div>
            <div class="why-chose-v2-thumb">
                <div class="thumb-01" data-aos="fade-down">
                    <img class="left-right" src="assets/img/About-image.png" alt="a man with computer as head floating in space">
                </div>
                {# <div class="thumb-02" data-aos="fade-up">
                    <img class="thumbnail" src="assets/img/thumb/about-v2/why-chose-02.jpg" alt="why chose">
                    <div class="play-button">
                        <a class="popup-video" href="https://www.youtube.com/watch?v=44SXv61ZhXY">
                            <i class="icofont-ui-play"></i>
                        </a>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</section>
