<section class="landing-v2-schedule-area py-100 py-md-40" id="agenda-section" style="background-image: url('assets/img/agenda/Agenda-bg-new.png');">
    
        <div class="section-title-v4">
            <h2>purecode AGENDA</h2>
            <p>Tech talks on functional programming: transformation, security, code quality, scalability, app maintainability, cost effectiveness and more!</p>
        </div>
        <div class="landing-v2-schedule-wrapper">
           
            <article class="tab-pane" data-aos="fade-up" data-aos-delay="100">
                <div class="l-v2-sdule-cntnt-wrapper">
                    <article class="l-v2-sdule-cntnt-wrap">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">1:30pm - 2:00pm</span>
                                </div>
                                <h4>Welcoming</h4>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Registration</h4>
                            <p>This event is open to everyone who register. Come early, meet the speakers and have a coffee.</p>
                            
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>

                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-rickard">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">2:00pm - 2:30pm</span>
                                </div>
                                <h4>Rickard Andersson</h4>
                                <p>Software Developer, Quanterall</p>
                                <div class="content-bio">
                                    <p>Rickard has been programming for 20+ years and has worked on video game backends, insurance and financial platforms 
                                    using languages such as Erlang, Elixir and Haskell. He currently lives in Bulgaria and works in Quanterall where he works on prototyping, 
                                    research and tool making in PureScript and other functional languages.</p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Guarantees and Intent in Software Development</h4>
                            <p>Rickard's talk will present a look into the differences between intent and guarantees in code, as well as how we can express them and leverage them to stay on track while building software.</p>
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>

                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-hristo">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">2:30pm - 2:50pm</span>
                                </div>
                                <h4>Hristo Koshev</h4>
                                <p>Software Developer, Quanterall</p>
                                <div class="content-bio">
                                    <p>Hristo is a seasoned software developer, who started from procedural programming with Perl and PHP, passed through Object Oriented programming with Ruby and then his journey in programming continued with the functional programming lands of Elixir, Haskell, PureScript and Elm.</p> 
                                    <p>Currently, he is exploring Haskell Ivory tower, libraries and concepts and attempting to apply Category Theory to his day-to-day job.</p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Type Driven Functional Domain Modelling</h4>
                            <p>Hristo will show some of the ways we can use types as part of the design process. In particular, the thoughtful use of types can make a design more transparent and improve correctness at the same time.</p>
                            
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>
                    
                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-filip">
                        <section class="l-v2-sdule-content" >
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">2:50pm - 3:30pm</span>
                                </div>
                                <h4>Filip Haglund</h4>
                                <p>CTO, Lesslie.se</p>
                                <div class="content-bio">
                                    <p>Filip is after the orders of magnitude improvements in life. Previously a professional functional programming language designer, recently turned CTO. Enjoys reasoning from fundamentals to turn things on their heads.</p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>What Should Error Handling Be Like?</h4>
                            <p>Whenever the happy path meets the real world, those edge cases and exceptions inevitably come up. There are tons of ways to handle errors, and people like to roll their own. Let's take a look at the fundamentals and reason our way towards choosing a better error-handling abstraction with the tools at hand, be it in C or Purescript.</p>
                            
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>
                    
                </div>
            </article>
            <article class="tab-pane" data-aos="fade-up" data-aos-delay="100">
                <div class="l-v2-sdule-cntnt-wrapper">
                    <article class="l-v2-sdule-cntnt-wrap">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">3:30pm - 3:45pm</span>
                                </div>
                                <h4>Coffee Break</h4>
                            </div>
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>

                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-georgi">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">3:45pm - 4:10pm</span>
                                </div>
                                <h4>Georgi Spasov</h4>
                                <p>Software Developer, Quanterall</p>
                                <div class="content-bio">
                                    <p>Georgi is experienced in designing and implementing backend architectures and has taken part in implementing multiple software solutions in Quanterall. The moment he was introduced to Elixir he found functional programming to be plain awesome. Since then he enjoys utilizing the functional way of writing code for any problem.</p>
                                </div>
                                
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Elixir in a Nutshell</h4>
                            <p>Learning a new programming language is always a challenge, especially if you deep dive into concepts like immutability, scalability, concurrency and fault tolerance. Elixir manages to handle all of them and then some, yet somehow making it seem easy. So let's look into Elixir and everything you need to know about it.</p>

                            
                        </section>
                            <div class="dot-cercle"></div>
                            <div class="line"></div>
                    </article>

                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-valentin">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">4:10pm - 4:30pm</span>
                                </div>
                                <h4>Valentin Atanasov</h4>
                                <p>Software Engineer, Quanterall</p>
                                <div class="content-bio">
                                    <p>Valentin has been a software engineer for some time now. His professional journey began with PHP and OOP, but through the magical experience of attending conferences, he has been made aware of the existence of functional languages. From then on, his view on programming changed, and the more pleasant part of his professional life began.</p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>The Promised Backend Land</h4>
                            <p>This talk will be about Phoenix LiveView, which provides rich, real-time user experiences with server-rendered HTML. What does that mean, is it needed and what makes LiveView different from the alternatives in other languages, these are some of the questions that this talk will provide an opinionated answer to.</p>
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>

                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-nikolay">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">4:30pm - 5:00pm</span>
                                </div>
                                <h4>Nikolay Tzvetinov</h4>
                                <p>Senior Elixir Developer/DevOps, Eiger</p> 
                                <div class="content-bio">
                                    <p>Nikolay (or Meddle) is a developer with a lot of experience in different fields, programming languages and tools.</p>
                                    <p>He is interested in Elixir, because of its practicality and concurrency, and everything to do with functional programming, type theory, lambda calculus and data-driven approaches.</p>
                                    <p>Nikolay co-created the "Functional programming in Elixir" course at Sofia University and is part of its team and cause.</p>
                                    <p>He is also a musician and a poet: <a href="https://smerch.bandcamp.com" target="blank">smerch.bandcamp.com</a></p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Functional Programming as a Career (Elixir and Beyond)</h4>
                            <p>15 years ago functional programming was just an academic toy for most of us, especially here in Bulgaria. 
                            Requirements and priorities change with time as we live in a very concurrent world now which leads to 
                            functional ideas like immutability, reactive and data driven systems that are highly available, 
                            as data becomes more mainstream.
                            </p>
                            <p>Nikolay will talk about fields that are interested in more functional-like programming, data streaming, 
                            concurrent connections and updates, parallel computation and the ease we can achieve with Elixir/Erlang.
                            He'll also share his own experience with the changing programming world and why he chose Elixir as his main tool for problem solving.</p>
                            
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>

                </div>
            </article>
            <article class="tab-pane" data-aos="fade-up" data-aos-delay="100">
                <div class="l-v2-sdule-cntnt-wrapper">
                    <article class="l-v2-sdule-cntnt-wrap">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">5:00pm - 5:15pm</span>
                                </div>
                                <h4>Break</h4>
                            </div>
                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>
                    
                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-dimitar">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">5:15pm - 5:45pm</span>
                                </div>
                                <h4>Dimitar Ivanov</h4>
                                <p>Core Developer, æternity Crypto Foundation</p>
                                <div class="content-bio">
                                    <p>Dimitar is a software engineer from Bulgaria. He has been part of the AE core team for the past 5 years. Initially a crypto sceptic, Dimitar turned into a crypto enthusiast.</p>
                                    <p>All questions regarding technology are welcome but please no questions "Should I buy X?"</p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Implementing a Blockchain Peer Node in Erlang</h4>
                            <p>Erlang is a programming language used to build massively scalable soft real-time systems with requirements on high availability. It runs on the BEAM virtual machine. A peer node has a lot of different components - ex. consensus, mining, networking and peer discovery and communication. Dimitar and his team have also built their own smart contract virtual machine. Some other hard requirements are determinism and portability. In this talk, Dimitar will share his experience with all of those running on the BEAM.</p>

                        </section>
                        <div class="dot-cercle"></div>
                        <div class="line"></div>
                    </article>
                    <article class="l-v2-sdule-cntnt-wrap" id="speaker-ivan">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">5:45pm - 6:10pm</span>
                                </div>
                                <h4>Ivan Deskov</h4>
                                <p>Staff Engineer, SumUp</p>
                                <div class="content-bio">
                                    <p>Becoming aware of the limitations of Java is what sparked Ivan's interest in functional programming and writing code in a way that can be both satisfying and results driven.</p>
                                    <p>Having built a solid base for his professional tech experience in the UK, he was eager to return to Bulgaria and continue implementing and developing his expertise. For the past few years he has been a valuable part of the <a href="https://www.sumup.com/careers/global-bank-tribe/" target="blank">Global Bank Tribe</a> at SumUp. Learn more about him <a href="https://www.sumup.com/careers/meet-team-ivan/" target="blank">HERE</a>.</p>
                                </div>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>FP Survival in the World of Java</h4>
                            <p>How can we turn things around and bring functional programming concepts in frameworks written in Java for Java decades ago? Kotlin and arrow-kt come to the rescue! We'll try to trace the evolution of Kotlin support in the Spring ecosystem and how we can leverage functional libraries like arrow-kt to make our code a joy to work with.</p>
                            
                        </section>
                            <div class="dot-cercle"></div>
                            <div class="line"></div>
                    </article>
                    <article class="l-v2-sdule-cntnt-wrap">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">6:10pm - 6:40pm</span>
                                </div>
                                <h4>TBD</h4>
                                {# <p>Staff Engineer, SumUp</p> #}
                                {# <div class="content-bio">
                                    <p>Having built a solid base for his professional tech experience in the UK, he was eager to return to Bulgaria and continue implementing and developing his expertise. For the past few years he has been a valuable part of the <a href="https://www.sumup.com/careers/global-bank-tribe/" target="blank">Global Bank Tribe</a> at SumUp. Learn more about him <a href="https://www.sumup.com/careers/meet-team-ivan/" target="blank">HERE</a>.</p>
                                </div> #}
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>TBD</h4>
                            {# <p>How can we turn things around and bring functional programming concepts in frameworks written in Java for Java decades ago? Kotlin and arrow-kt come to the rescue! We'll try to trace the evolution of Kotlin support in the Spring ecosystem and how we can leverage functional libraries like arrow-kt to make our code a joy to work with.</p> #}
                            
                        </section>
                            <div class="dot-cercle"></div>
                            <div class="line"></div>
                    </article>

                    

                    <article class="l-v2-sdule-cntnt-wrap">
                        <section class="l-v2-sdule-content">
                            <div class="content">
                                <div class="date-time">
                                    <span class="dot">6:40pm - 8:00pm</span>
                                </div>
                                <h4>Networking Happy Hour</h4>
                            </div>
                        </section>
                        <section class="l-v2-sdule-title">
                            <h4>Meet the Lecturers and the Attendees</h4>
                            <p>Enjoy networking with fresh beer and some of the best burgers in town!</p>
                        </section>
                            <div class="dot-cercle"></div>
                            <div class="line"></div>
                    </article>
                </div>
            </article>
        </div>
    
</section>