<section class="faq-v1-area s-py-100" id="faq-section">
    {# <div class="shape-01">
        <img src="assets/img/shape/login/round.svg" alt="shape">
    </div>
    <div class="shape-02">
        <img src="assets/img/shape/login/sign.svg" alt="shape">
    </div> #}
    <div class="container">
        <section class="section-title-v4">
            <h2>FAQ</h2>
        </section>
        <section class="faq-v1-wrapper">
            
            <div class="faq-left">
                <article class="single-faq">
                    <div class="faq-head">
                        <h6>How can I attend?<span><i class="icofont-rounded-down"></i></span></h6>
                    </div>
                    <div class="faq-body">
                        <p>You can register here <a href="https://purecode.eventbrite.com" target="_blank">purecode.eventbrite.com</a> free of charge. But hurry up, the places are limited!</p>
                    </div>
                </article>
                <article class="single-faq">
                    <div class="faq-head">
                        <h6>Can I join online?<span><i class="icofont-rounded-down"></i></span></h6>
                    </div>
                    <div class="faq-body">
                        <p>No, the event will be live only. Let's meet in person.</p>
                    </div>
                </article>
                <article class="single-faq">
                    <div class="faq-head">
                        <h6>Is the event only for developers?<span><i class="icofont-rounded-down"></i></span></h6>
                    </div>
                    <div class="faq-body">
                        <p>The purecode is an informal meetup for the local functional programming community. If you are interested in functional programming from tech or business perspective, come!</p>
                    </div>
                </article>
            </div>
            <div class="faq-right">
                <article class="single-faq">
                    <div class="faq-head">
                        <h6>How can I become a speaker?<span><i class="icofont-rounded-down"></i></span></h6>
                    </div>
                    <div class="faq-body">
                        <p>If you'd like to speak at purecode, please contact <a href="mailto:nikolina.petkova@quanterall.com">nikolina.petkova@quanterall.com</a> for further details.</p>
                    </div>
                </article>
                <article class="single-faq">
                    <div class="faq-head">
                        <h6>Where is the venue?<span><i class="icofont-rounded-down"></i></span></h6>
                    </div>
                    <div class="faq-body">
                        <p>The meetup will be in the Sopharma Event Center, which is on the ground floor gallery of the Sopharma Business Towers.</p> 
                        <p>Address: Lachezar Stanchev 5, Sofia 1756</p>
                    </div>
                </article>
                <article class="single-faq">
                    <div class="faq-head">
                        <h6>Will there be food and drinks?<span><i class="icofont-rounded-down"></i></span></h6>
                    </div>
                    <div class="faq-body">
                        <p>Yes, we will provide coffee, water, other refreshments and beer and burgers in the networking session.</p>
                    </div>
                </article>
            </div>
        </section>
    </div>
</section>