<section class="landing-v2-hero-area" style="background-image: url('assets/img/HeroImage.png');">
    
    <div class="container">
        <div class="landing-v2-hero-wrapper">
            
            <div class="home-v1-hero-content home-v2-hero-content landing-v2-hero-content">
                <div class="title">
                    <h1 data-aos="fade-up" data-aos-delay="90"><span>/</span>Functional</h1>
                    <h1 data-aos="fade-up" data-aos-delay="110">Programming</h1>
                    <h1 data-aos="fade-up" data-aos-delay="125"><span>{</span>Talks<span>}</span></h1>
                    {# <h2 data-aos="fade-up" data-aos-delay="10"><span>Functional Programming</span> Talks</h2> #}
                    <div class="span-group" data-aos="fade-up" data-aos-delay="160">
                        <span>23 March 2023</span>
                        <span class="span-border">Sopharma Event Center, Sofia, Bulgaria</span>
                    </div>
                    {# <div class="texs-text">
                        <span>TEXES</span>
                    </div> #}
                </div>
                <div class="countdown-clock" data-aos="fade-up" data-aos-delay="180">
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-days ci-value"></div>
                        </div>
                        <h4>Days</h4>
                    </div>
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-hours ci-value"></div>
                        </div>
                        <h4>Hours</h4>
                    </div>
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-minutes ci-value"></div>
                        </div>
                        <h4>Minutes</h4>
                    </div>
                    <div class="countdown-item">
                        <div class="ci-inner">
                            <div class="clock-seconds ci-value"></div>
                        </div>
                        <h4>Seconds</h4>
                    </div>
                </div>
                <div class="button-group" data-aos="fade-up" data-aos-delay="200">
                    <a class="btn" href="https://purecode.eventbrite.com" target="_blank">RESERVE YOUR SPOT</a>
                </div>
            </div>
        </div>
    </div>
</section>