<!-- Header Link -->
{% include "elements/header/header-link.twig"%}
<!-- Header Section -->
{% include "elements/header/header-general.twig" %}


<!-- Header Area Start Here -->
{% include "elements/sections/hero-section.twig"%}
<!-- Header Area End Here -->

<!-- About Area Start Here -->
{% include "elements/sections/about-section.twig"%}
<!-- About Area End Here -->

<!-- Event Speaker Area Start Here -->
{% include "elements/sections/speakers-section.twig"%}
<!-- Event Speaker Area End Here -->

<!-- Event Schedule Area Start Here -->
{% include "elements/sections/agenda-section.twig"%}
<!-- Event Schedule Area End Here -->

<!-- Sponsor Area Start Here -->
<section class="landing-v2-sponsor-area s-py-100" style="background-image: url('assets/img/Sponsor-background.png');">
    <div class="container">
        <div class="section-title-v4">
            <p>purecode is powered by</p>
            <a href="https://www.quanterall.com/" target="_blank"><img src="assets/img/logo/Quanterall-logo-slogan.png" alt="Quanterall's logo"></a>
        </div>
        <div class="section-title-v4">
            <p>purecode is sponsored by</p>
            <div>
            <a href="http://knowledge.bg/14413-Purecode---%D0%B5%D0%B4%D0%BD%D0%BE-%D1%81%D1%8A%D0%B1%D0%B8%D1%82%D0%B8%D0%B5-%D0%B7%D0%B0-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D0%BD%D0%BE-%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%B8%D1%80%D0%B0%D0%BD%D0%B5" target="_blank"><img src="assets/img/partners/znanie-logo.png" alt="Znanie's logo"></a>
            <a href="https://lupa.bg/news/purecode-edno-sabitie-za-funkcionalno-programirane_220577news.html" target="_blank"><img src="assets/img/partners/lupa.bg-logo.png" alt="Lupa's logo"></a>
            <a href="https://u.today/purecode-functional-programming-talks-sofia-march-23-2023" target="_blank"><img src="assets/img/partners/utoday-logo.png" alt="U Today's logo"></a>
            </div>
        </div>
        <div class="button-group">
            <p>Join us and let's explore the world of functional programming!</p>
            <a class="btn" href="https://purecode.eventbrite.com" target="_blank">REGISTER</a>
        </div>
     </div>
</section>
<!-- Sponsor Area End Here -->

<!-- Faq area Start Here -->
{% include "elements/sections/faq-section.twig"%}
<!-- Faq area End Here -->

<!-- Footer Area Start Here -->
{% include "elements/primary-footer.twig" %}
<!-- Footer Area End Here -->
<!-- Footer script-->
{% include "elements/footer-script.twig" %}