<!-- Header Link -->
{% include "elements/header/header-link.twig"%}
<!-- Header Section -->
{% include "elements/header/header-general.twig" %}


<!-- Header Area Start Here -->
{% include "elements/sections/hero-section.twig"%}
<!-- Header Area End Here -->

<!-- About Area Start Here -->
{% include "elements/sections/about-section.twig"%}
<!-- About Area End Here -->

<!-- Event Speaker Area Start Here -->
{% include "elements/sections/speakers-section.twig"%}
<!-- Event Speaker Area End Here -->

<!-- Event Schedule Area Start Here -->
{% include "elements/sections/agenda-section.twig"%}
<!-- Event Schedule Area End Here -->

{# <section class="speakers-form s-py-100" style="background-image: url('assets/img/speakers/Background-speaker-form.png');">
    <div class="container">
        <div class="section-title-v4">
            <h2>call for SPEAKERS</h2>
            <p>Contact us if you want to be a speaker. Deadline 6 February 2023.</p>
        </div>
        <div class="ml-form-embed"
            data-account="3407065:a8s6b7d5u1"
            data-form="5837220:p3w9t4">
        </div>
    </div>
</section> #}

<!-- Sponsor Area Start Here -->
<section class="landing-v2-sponsor-area s-py-100" style="background-image: url('assets/img/Sponsor-background.png');">
    <div class="container">
        <div class="section-title-v4">
            <p>purecode is powered by</p>
            <a href="https://www.quanterall.com/" target="_blank"><img src="assets/img/logo/Quanterall-logo-slogan.png" alt="Quanterall's logo"></a>
        </div>
        <div class="button-group">
            <p>Join us and let's explore the world of functional programming!</p>
            <a class="btn" href="https://purecode.eventbrite.com" target="_blank">REGISTER</a>
        </div>
     </div>
</section>
<!-- Sponsor Area End Here -->

<!-- Faq area Start Here -->
{% include "elements/sections/faq-section.twig"%}
<!-- Faq area End Here -->

<!-- Footer Area Start Here -->
{% include "elements/primary-footer.twig" %}
<!-- Footer Area End Here -->
<!-- Footer script-->
{% include "elements/footer-script.twig" %}